<template>
    <div>
        <h3 class="text-center">Adicionar Pet</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addPet">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" v-model="pet.nome" required>
                    </div>
                    <div class="form-group">
                        <label>Dono</label>
                        <input type="text" class="form-control" v-model="pet.dono" required>
                    </div>
                    <div class="form-group">
                        <label>Raça</label>
                        <input type="text" class="form-control" v-model="pet.raça" required>
                    </div>
                    <div class="form-group">
                        <label>Idade</label>
                        <input type="number" class="form-control" v-model="pet.idade" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Adicionar Pet</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pet: {}
            }
        },
        methods: {
            addPet() {

                this.axios
                    .post('api/pet/add', this.pet)
                    .then(response => (
                        this.$router.push({name: 'home'})
                        // console.log(response.data)
                    ))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>