<template>
    <div>
        <h3 class="text-center">Editar Pet</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updatePet">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" v-model="pet.nome" required>
                    </div>
                    <div class="form-group">
                        <label>Dono</label>
                        <input type="text" class="form-control" v-model="pet.dono" required>
                    </div>
                    <div class="form-group">
                        <label>Raça</label>
                        <input type="text" class="form-control" v-model="pet.raça" required>
                    </div>
                    <div class="form-group">
                        <label>Idade</label>
                        <input type="number" class="form-control" v-model="pet.idade" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Atualizar Pet</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pet: {}
            }
        },
        created() {
            this.axios
                .get(`/api/pet/edit/${this.$route.params.id}`)
                .then((response) => {
                    this.pet = response.data;
                    // console.log(response);
                });
        },
        methods: {
            updatePet() {
                this.axios
                    .post(`/api/pet/update/${this.$route.params.id}`, this.pet)
                    .then((response) => {
                        this.$router.push({name: 'home'});
                    });
            }
        }
    }
</script>