<template>
    <div>
        <h3 class="text-center">Pets</h3><br/>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Dono</th>
                <th>Raça</th>
                <th>Idade</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="pet in pets" :key="pet.id">
                <td>{{ pet.id }}</td>
                <td>{{ pet.nome }}</td>
                <td>{{ pet.dono }}</td>
                <td>{{ pet.raça }}</td>
                <td>{{ pet.idade }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: pet.id }}" class="btn btn-primary">Edit
                        </router-link>
                        <button class="btn btn-danger" @click="deleteBook(pet.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pets: []
            }
        },
        created() {
            this.axios
                .get('api/pets')
                .then(response => {
                    this.pets = response.data;
                });
        },
        methods: {
            deleteBook(id) {
                this.axios
                    .delete(`api/pet/delete/${id}`)
                    .then(response => {
                        let i = this.pets.map(item => item.id).indexOf(id);
                        this.pets.splice(i, 1)
                    });
            }
        }
    }
</script>